<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Debate 101</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>How to Win A Debate</h1>
    </div>
    <div class="container">
      <h2>Ethos</h2>
      <p>
        <b>Definition</b>: Appeal to one's <b>ethics</b><br>
        <b>Example</b>: blah blah blah <br>
      </p>
    </div>
    <div class="container">
      <h2>Pathos</h2>
      <p>
        <b>Definition</b>: Appeal to one's <b>emotions</b><br>
        <b>Example</b>: blah blah blah <br>
      </p>
    </div>
    <div class="container">
      <h2>Logos</h2>
      <p>
        <b>Definition</b>: Appeal to one's <b>logic</b><br>
        <b>Example</b>: blah blah blah <br>
      </p>
    </div>
    <!-- scripts -->
    <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/js/main.js') }}"></script>
  </body>
</html>
