<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Stance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <style>
      div.rhetoric {
        background-color: black;
        color: white;
        margin: 20px 0 20px 0;
        padding: 20px;
      }
    </style>

  </head>

  <body>
    
    <div class="stance">
      <h1>Stance: {{ name }}</h1>
    </div>

    <div class="anti"> 
      <h2>Anti-Choice Argument</h2>
      <h3>{{ anti_summary }}</h3>
      <p>{{ anti_q1 }}</p>
      <p>{{ anti_q2 }}</p>
      <p>{{ anti_q3 }}</p>
    </div>

    <div class="rebuttal"> 
      <h2>Rebuttal</h2>
      <h3>{{ rebut_summary }}</h3>
      <p>{{ rebut_q1 }}</p>
      <p>{{ rebut_q2 }}</p>
      <p>{{ rebut_q3 }}</p>
    </div>

    <div class="rhetoric"> 
      <h2>Ethos</h2>
      <h3>{{ ethos_title }}</h3>
      <p>{{ ethos_text }}</p>
    </div>

    <div class="rhetoric"> 
      <h2>Pathos</h2>
      <h3>{{ pathos_title }}</h3>
      <p>{{ pathos_text }}</p>
    </div>

    <div class="rhetoric"> 
      <h2>Logos</h2>
      <h3>{{ logos_title }}</h3>
      <p>{{ logos_text }}</p>
    </div>

    <!-- 
    <div class="container">
      <h1>Stance</h1>
      <br>
      <div id="content"></div>
    </div>
    -->
    <!-- scripts -->
    <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
    
  </body>
</html>
