<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Rhetorical Uterus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body>
    <section id="topper" name="#">
       
       <div id="header" class="row text-center">
          <img class="text-center" id="logo" src="../static/img/rhetorical-uterus-logo-v2.png" alt="logo"/>
        </div>

        <div class="container-fluid">
          <div class="row">
            <div class="col col-md-5 col-sm-4 col-xs-6 talk-bubble tri-right round right-in">
              <div class="talktext">
                <h4>Tired of having unproductive, frustrating, downright absurd conversations with your pro-life uncle? I’m here to help!</h4>
                <h4>My name is Ru, short for Rhetorical Uterus. My job is to help you approach the daunting pro-choice / pro-life debate armed with evidence and a compelling logical argument. Scroll
                down to refresh your <a href="#debate">debate skills</a>, or if you’re ready, jump to the <a href="#stances">anti-choice stances</a> to start preparing!</h4>
              </div>
            </div>
            <div class="col col-md-6 col-sm-4 col-xs-6" id="welcome-uterus">
              <img class="img-responsive" src="../static/img/ru-illustration-main-v1.png" alt="welcoming uterus" />
            </div>
          </div>
        </div>
    </section>

    <section id="debate" class="debate container-fluid">
      <div class="header" class="row">
        <div class="col-md-11">
          <h1 class="section-header pull-right">debate 101</h1>
        </div>
      </div>

      <div class="row">
        <div class="col col-md-6" id="welcome-uterus">
          <img class="img-responsive" src="../static/img/ru-illustration-main-v1.png" alt="teaching uterus" />
        </div>
        <div class="col-md-5">
          <h3 class="pull-right">need to brush up on the basics <span class="line-break">of rhetorical discourse? RU can help!</span><br><span class="red-text line-break pull-right">let's go!<b class="right-caret"></b></span></h3>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col col-md-11" id="call-to-action">
          <h2 class="pull-right">let's go!</h2>
        </div>
      </div> -->
      <div class="row">
        <div class="col col-md-12 text-center">
          <h3><a href="#stances">ready to debate!</a></h3>
        </div>
      </div>
        
      </div>
    </section>

    <section id="stances" name="stances">
       <div id="header" class="row">
        <div class="col-md-11 col-md-offset-1">
          <h3 class="section-header">the</h3>
          <h1 class="line-break section-header">anti-choice stances</h1>
        </div>
      </div>
      <div class="container-fluid">
        <div class="panel-group col-md-offset-2 col-md-8" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  fetuses are humans; therefore they have the right to life.
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                “Unless and until it can be proven that the unborn child is not a living entity, then its right to life, liberty, and the pursuit of happiness must be protected.” — Ronald Reagan | <a class="red-call" href="/stance/test">read more</a>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  abortions are dangerous.
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                "Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et." - Weo Alben | <a class="red-call" href="/stance/test">read more</a>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  women will just use abortion as a form of birth control.
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                "Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod." - Uiod Oidlx | <a class="red-call" href="/stance/test">read more</a>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  taxpayers should not be forced to fund abortions.
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
              <div class="panel-body">
                "Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et." - Weo Alben | <a class="red-call" href="/stance/test">read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      
      </section>

     <section id="recent-news" name="recent-news">
      <div id="header" class="row">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
          <h1 class="section-header pull-right">in the news</h1>
        </div>
      </div>
     </section>
    
   
    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
      $(function() {
        $('a[href*="#"]:not([href="#"])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html, body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>
  </body>
</html>